body{
    background: #E5E5E5;
    align-items: center;
    justify-content: center;
    display: flex;
    font-family: 'Montserrat', sans-serif;
    font-size: 15px;
    padding-top: 50px;
    width: 330px;
    height:700px ;
    
}

.container {
    justify-content: center;
    display: flex;
    width: 330px;
    height: 700px;
    border-radius: 5px;
    box-shadow: 0 0 50px rgb(51, 49, 49);
    text-align: center;
    background-image: url( bg.png);
    
}


/* ========== FORM ==========  */
.search-bar{
position: absolute;
background: #F2F2F2;
box-shadow: 4px 3px 5px rgba(0, 0, 0, 0.25);
border-radius: 20px

}

.search-bar input{
    
position: absolute;
width: 256px;
height: 40px;
left: 33px;
top: 12px;

background: #F2F2F2;
box-shadow: 4px 3px 5px rgba(0, 0, 0, 0.25);
border-radius: 20px;


}
.search-bar input::placeholder{
font-size: 18px;
color: #E3E3E3;
}

.search-bar .icon{
    cursor: pointer;
    
position: absolute;
width: 23px;
height: 23px;
left: 241px;
top: 20px;
}
.search-bar .icon:active{
    outline: 1px solid rgb(6, 193, 240);
}

 form input:focus {
    background-color: #315763b6;
  }

/* ========== CITY ==========  */

#city{
    font-size: 48px;
    text-transform: uppercase;   
    padding-top: 32px;
    color: #F2F2F2;
padding-bottom: 0px;
}
#date{
    padding-top: 20px;
    color: #eee;

}

/* ========== TEMPERATURE ==========  */


.temp #current{
    
padding-top: 40px;
font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
font-style: normal;
font-weight: normal;
font-size: 45px;
line-height: 56px;
text-align: center;

color: #425366;

}
.minmax{
padding-top: 20px ;
font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
font-style: normal;
font-weight: normal;
font-size: 18px;
line-height: 28px;
text-align: center;

color: #68829F;
padding-bottom: 20px;
}
.line{
    width: 20px;
}
.temp #weather{
    font-style: normal;
    font-weight: normal;
    font-size: 20px;
    line-height: 23px;
    text-align: center;
    color: #425366;
}
#weather-icon{

width: 65px;
height: 65px;

}

/* ========== INFO ==========  */

.info .details{
    position: absolute;
    max-width: 500px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-style: normal;
    font-weight: bold;
    font-size: 18px;
    color: #425366;
    text-align: left;
    padding-left: 20px;
}
